<% layout('/layouts/boilerplate')%>
<a href="/campgrounds">All posts</a>
<p><a href="/campgrounds/new">New post</a></p>
<h1>All Campgrounds</h1>
<ol>
    <% for (let campground of campgrounds) {%>
        <li>
            <a href="/campgrounds/<%= campground._id%>">
                <%= campground.title %>
            </a>
        </li>
    <% }%>
</ol>